[alias]
	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	# Pretty log output
	hist = log --graph --pretty=format:'%Cred%h%Creset %s%C(yellow)%d%Creset %Cgreen(%cr)%Creset [%an]' --abbrev-commit --date=relative
	st = status
	co = checkout
	br = branch
	cm = commit
	dt = difftool

[color]
	# Use colors in Git commands that are capable of colored output when outputting to the terminal
	ui = auto

[branch "main"]
	# Use `origin` as the default remote on the `master` branch in all cases
	remote = origin

[user]
	name = Austin Sloane
	email = sloane.ats@gmail.com

[core]
	pager = delta
	excludesfile = ~/.ignore

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true  # use n and N to move between diff sections
	syntax-theme = TwoDark
	side-by-side = true
	line-numbers = true
	; dark = true      # or light = true, or omit for auto-detection

[merge]
	conflictstyle = zdiff3

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main
